@model LexiconLMS.Models.Schedule

@{
    ViewBag.Title = "Delete";
    var link = ViewBag.sid;
}
<div class="pageNav navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navPage">
            @*THE ADD EVENT BUTTON - ONLY VISIBLE FOR THE ADMIN ROLE*@
            @if (!User.IsInRole("admin"))
            {
                <li>@Html.ActionLink("Cancel", "Index")</li>
            }
        </ul><!-- .nav .navbar-nav -->
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-8">
            <h3>Delete: <strong>@Html.DisplayFor(model => model.Name)</strong></h3>
        <hr />
            <div>
                <p>
                    You are about to delete the schedule: <strong>@Html.DisplayFor(model => model.Name)</strong>
                </p>
                <p>Are you sure you want to do this?</p>
            </div>
            @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
        </div><!-- .col-md-8 -->
        <div class="col-md-4 sideBlock">
            <p>Content</p>
        </div>
    </div><!-- .row -->
</div><!-- . container -->