@model IEnumerable<LexiconLMS.Models.Schedule>

@{
    ViewBag.Title = "Index";
    var link = ViewBag.sid;
}
<div class="pageNav navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navPage">
            @*THE ADD EVENT BUTTON - ONLY VISIBLE FOR THE ADMIN ROLE*@
            @if (User.IsInRole("admin"))
            {
                <li>@Html.ActionLink("Create New", "Create")</li>
            }
        </ul><!-- .nav .navbar-nav -->
    </div>
</div>

<div class="container">
    <div class="row">
        
        <div class="col-md-8">
            @if (User.IsInRole("admin"))
            {
                <h3>Schedules</h3>
            }
            else
            {
                <h3>Schedule</h3>
            }
            
            <table class="table">

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="scheduleName">
                            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                        </td>
                        <td>
                            @if (User.IsInRole("admin"))
                            {

                                <ul>
                                    <li>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </li>
                                </ul>


                            }
                        </td>             
                    </tr>
                }

            </table>
        </div><!-- .col-md-8-->
        <div class="col-md-4 sideBlock">
            <p>"content"</p>
        </div>
    </div><!-- .row -->
</div><!-- .container -->