*{
    padding:0;
    margin:0;
}
body {
    padding-top:150px;
    padding-bottom: 20px;
    max-width:800px;
    margin:0px auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#202020;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ------ HEADER ------ */
.navbar{
    height:70px;
    padding:0px;
    background:#000;
}
.navbar .container{
    max-width:800px;
}
a.navbar-brand {
    margin-top:10px;
    padding-left:120px;
    height: 50px;
    width: 160px;
    background-image: url('images/logo-lexicon@2x.gif');
    background-size:145px 50px;
    background-repeat: no-repeat;
    background-position: 15px 0px;
    display: block;
    text-indent: -999999px;
}
.secNav ul li a{
    color:#8eff96;
    font-size:10px;
}
.secNav ul li{
    padding-top:10px;
}
.secNav ul li a:hover{
    background:#000;
    color:#fff;
}
.mainNav{
    margin-top:70px;
    width:100%;
    height:70px;
    background:#f6f6f6;
    border-bottom:solid 1px #eaeaea;
}
.mainNav ul{
    width:100%;
    height:35px;
    padding-top:10px;
    padding-bottom:0px;
}
.collapse{
    border-bottom:solid 3px #d60000;
}
.mainNav li a{
    color:#202020;
    font-size:10px;
    text-transform:uppercase;
    font-weight:bolder;
    height:20px;
    padding-top:0px;
    padding-bottom:0px;
}
.mainNav li{
    padding:1px;
    border:solid 1px #f6f6f6;
}
.mainNav li:hover{
    border-color:#eaeaea;
}
.mainNav li.active{
    background:#d60000;
}
.mainNav li.active a{
    color:#fff;
}
.mainNav li.active a:hover{
    background:#d60000;

}