
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
<p>On this page the course Admin can manage courses and users.<br />
    Delete and edit courses will be done from the course page through an edit/delete link</p>
<p>There will be links to:</p>
<ul>
    <li>Add Course</li>
    <li>Add Student</li>
</ul>

