
@{
    ViewBag.Title = "Courses";
}
<header>
    <h2>Courses</h2>
    <p>This page will show the admin a list of all the courses he/she is reponsible for</p>
    <p>Each list row will link to the course page where the admin will get the same view
    of the course page as the student, but with extra edit buttons/possibilities</p>
</header>


