
@{
    ViewBag.Title = "Course";
}
<header>
    <h2>Course</h2>
    <p>This is the main page for the students within one class. Content depends on the 
    classID for the current student.</p>
    <p>The page will be build up of partial views.</p>
    <p>Links:</p>
    <ul>
        <li>Profile page</li>
        <li>Schedual</li>
        <li>Shared Files</li>
    </ul>
</header>

<!-- Role: Student-->
<div>
    <p>
        This page will include
    </p>
        <ul>
            <li>Schedual for the week</li>
            <li>Todays tasks/Assignments</li>
            <li>The last x shared files</li>
        </ul>
</div>

