
@{
    ViewBag.Title = "Handedin";
}

<h2>Handedin</h2>

<p>
    On this page all the handed in assignments are listed.<br />
    To give some oversigt the Admin should first choose the Course for which he/she
    wants to see the status of assignments. Then the students in that course are listed
    with eighter a link to the file and the hand in date or an empty slot.
    <br />
    There will also be possibility to sort on hand-in date (for all courses) and get an oversight
    per student (from the hand-in list described above)
</p>
