
@{
    ViewBag.Title = "Index";
}

<header>
    <h2>Index</h2>
    <p>This is the main site where the users come to after logging in</p> 
    <p>The student will be directly redirected to the Course view (How?)</p> 
    <ul>
        <li><b>Links:</b></li>
        <li>Courses (Klasser)</li><!--Leads to a page with a list of all the courses the admin is responsible for-->
        <li>Course Admin</li><!--Leads to a page where the admin can create new classes an/or users-->
        <li>Assignments</li><!--Leads to a page where the handed in assignments are listed -->
    </ul>
</header>

<!-- Role: Course Admin-->
<div>
    <p>This is the home page for the course administrator/lärare.</p>
    <p>It will be build up with partial views.</p>
    <p>Tis page will contain:</p>
    <ul>
        <li>Comming deadlines for all courses</li>
        <li>information about the last x handed in assignments</li>
        <li>...</li>
    </ul>
</div>




