
@{
    ViewBag.Title = "Schedual";
}

<h2>Schedual</h2>
<p>
    Here the full schedual of the current course is shown. <br />
    The different assignments are linked to a date in the schedual. The current day/week will be centered.
</p>
<p>The course admin gets the possibility ot edit the schedual</p>
