
@{
    ViewBag.Title = "Student";
}
<header>
    <h2>Student</h2>
    <p>This is the students profile page. This will later be created as a partial view
    within the Course view</p>
</header>

<div>
    <p>
        This page will contain:
    </p>
    <ul>
        <li>Short profile (+ link to edit)</li>
        <li>Upkomming deadline (A personal reminder whether an assignment was handed in or not)</li>
        <li>Personal overview of which course moments have been taken and wich are still open</li>
        <li>Prominent link to handing in Assignments</li>
    </ul>
</div>
